@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <style>
        .page-header {
            margin-top: -20px;
            padding: 15px;
            background-color: black;
            color: white;
        }

        .jumbotron {
            padding: 30px;
        }
    </style>
</head>
<body>
    <div class="page-header">
        <h1>Simple Messenger Service</h1>
    </div>
    <br />
    <br />
    <div class="jumbotron">
        <h1>Hello, World!</h1>
        <p>Welcome to my first azure deployed web site...</p>

        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="txtMsg" value=" " placeholder="Enter your message.." />
            </div>
            <div class="form-group">
                <a class="btn btn-primary" href="#" role="button">Send Message</a>
            </div>
        </form>

    </div>
</body>
</html>

